<h4><i class="fas fa-comment"></i> Presenting Complaints</h4>
<hr>
<ng-container *ngIf="complaintPresent">
	<table class="table table-responsive borderless" *ngFor="let complaint of complaint">
		<tr>
			<div [innerHTML]='complaint.value'></div>
		</tr>
	</table>
<div>
	<small><i>c. = Associated with, s. = Not associated with, h/o = History of </i></small>
</div>
<div>
<br>
<br>
<h4>Standard Treatment Guidelines</h4>
<hr>
	<mat-accordion multi="false">
		<mat-expansion-panel *ngFor="let guideline of guidelines; let i=index">
			<mat-expansion-panel-header>
					<mat-panel-description>
						{{ complaints[i] }}
					</mat-panel-description>
			</mat-expansion-panel-header>
				<iframe [src]="fileServerURL+guideline | safe: 'resourceUrl'" height="560px" width="100%"></iframe>
			</mat-expansion-panel>
	</mat-accordion>
</div>
</ng-container>
