<h4><i class="fas fa-comment"></i> Presenting Complaints</h4>
<hr>
<ng-container *ngIf="complaintPresent">
	<table class="table table-responsive borderless" *ngFor="let complaint of complaint">
		<tr>
			<div [innerHTML]='complaint.value'></div>
		</tr>
	</table>
<div>
	<small><i>c. = Associated with, s. = Not associated with, h/o = History of </i></small>
</div>
<div>
	<mat-accordion multi="true">
		<mat-expansion-panel *ngFor="let guideline of guidelines">
			<mat-expansion-panel-header>
					<mat-panel-description>
						{{ guideline.mmap }}
					</mat-panel-description>
			</mat-expansion-panel-header>
				<div [innerHTML]="guideline.embed | safe: 'html'"></div>
			</mat-expansion-panel>
	</mat-accordion>
</div>
</ng-container>
